{
  "ConnectionStrings": {
    "DefaultConnection": "Data Source=TeamTaskPro.db"
  },
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "AllowedHosts": "*",
  "Identity": {
    "Password": {
      "RequireDigit": true,
      "RequireLowercase": true,
      "RequireUppercase": true,
      "RequireNonAlphanumeric": true,
      "RequiredLength": 8
    },
    "SignIn": {
      "RequireConfirmedAccount": true
    }
  }
} 